<script context="module">
	export async function preload({ params, query }) {
		// the `id` parameter is available because
		// this file is called [id].svelte
		const res = await this.fetch(`events/${params.id}.json`);
		const data = await res.json();

		if (res.status === 200) {
			return { event: data };
		} else {
			this.error(res.status, data.message);
		}
	}
</script>

<script>
import * as sapper from '@sapper/app';

export let event
export let destination = '/events' // where to go after this
function handleConfirm() {
	fetch(`events/${event._id}.json`, {
		method: 'DELETE',
	}).then(reponse => sapper.goto('/events'))
	return false
}
function handleCancel() {
	sapper.goto(destination)
	return false
}
</script>

<h2>Are you sure?</h2>
<button on:click={handleConfirm}>Yes: confirm</button>
<button on:click={handleCancel}>No: cancel</button>