<script context="module">
	export async function preload({ params, query }) {
		// the `id` parameter is available because
		// this file is called [id].svelte
		const res = await this.fetch(`events/${params.id}.json`);
		const data = await res.json();

		if (res.status === 200) {
			return { event: data };
		} else {
			this.error(res.status, data.message);
		}
	}
</script>

<script>
import EventEdit from '../add.svelte'
export let event
</script>

<EventEdit {event} />