<script>
  import cart from "./events/cart";
</script>

<h3>Cart total: ${$cart.amount}</h3>
<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Seats</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {#each $cart.items as item, index}
      <tr>
        <td>{item.section}</td>
        <td>{item.label}</td>
        <td>${item.amount}</td>
        <td>
          <button
            class="btn-floating btn-small"
            on:click|preventDefault={e => cart.removeIndex(index)}>
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    {:else}
      <tr>
        <td colspan="4">You cart is empty.</td>
      </tr>
    {/each}
  </tbody>
</table>
