<script>
  import FileUpload from "../components/file-upload.svelte";
  let files = [];
</script>

<h1>Upload files by just selecting them</h1>
<!--
You can add child content under FileUpload.
The child content can access "files" variable
using bind:files attribute.
-->
<FileUpload name="foo" accept="image/png, image/jpeg" context={Date.now()} deleteOnUnmount={true} />