<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`events.json`)
      .then(r => r.json())
      .then(events => {
        // find the first image file attached
        for (let event of events) {
          event.image = event.files.find(f => f.mimetype.match(/^image\//));
        }
        return { events };
      });
  }
</script>

<script>
  const title = "Buy our stuff!";
  export let events = [];
</script>

<style>
  h1 {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: none /* uppercase */;
    font-size: 4em;
    font-weight: 100;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .row > * {
    margin-left: initial;
  }
</style>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<h1>{title}</h1>

<div class="row">
  {#each events as event}
    <div class="col s12 m6 l4">
      <div class="card">
        <a href={`/events/${event._id}`}>
          {#if event.image}
            <div class="card-image">
              <img src={event.image.path} alt={event.image.filename} />
            </div>
          {/if}
          <div class="card-content">
            <span class="card-title">{event.title}</span>
          </div>
        </a>
      </div>
    </div>
  {/each}
</div>
