<script context="module">
  export async function preload({ params, query }) {
    // the `id` parameter is available because
    // this file is called [id].svelte
    const res = await this.fetch(`events/${params.id}.json`);
    const event = await res.json();

    if (res.status === 200) {
      return { event };
    } else {
      this.error(res.status, event.message);
    }
  }
</script>

<script>
  export let event;
  import { onMount, tick } from "svelte";

  // the following is needed for modals to work
  onMount(() => M.Modal.init(document.querySelectorAll(".modal")));

  async function showSection(s) {
    /*
     * The following "weird trick" is needed because <Section/> component
     * does not get unmounted and remounted UNLESS we make "section" variable
     * null, wait for DOM update (with "await tick()") and then
     * reassign "section" variable.
     * 
     * And mount/unmount is needed in order to call markIncart
     */
    section = null;
    await tick();
    section = s;
  }

  import Section from "./section.svelte";
  let section = null;
</script>

<style>
  /*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{event.body}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
  .content :global(h2) {
    font-size: 1.4em;
    font-weight: 500;
  }

  .content :global(pre) {
    background-color: #f9f9f9;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
    padding: 0.5em;
    border-radius: 2px;
    overflow-x: auto;
  }

  .content :global(pre) :global(code) {
    background-color: transparent;
    padding: 0;
  }

  .content :global(ul) {
    line-height: 1.5;
  }

  .content :global(li) {
    margin: 0 0 0.5em 0;
  }
  h1,
  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  div.images {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
  }
  div.images img.thumbnail {
    align-self: start;
    box-shadow: lightgray -5px 5px 5px;
    margin-right: 0.5rem;
    border: solid white 0.2rem;
    max-height: 25vh;
  }
</style>

<svelte:head>
  <title>{event.title}</title>
</svelte:head>

{#if !!event.title_prefix}
  <h5>{event.title_prefix}</h5>
{/if}
<h1>{event.title}</h1>
{#if !!event.title_suffix}
  <h5>{event.title_suffix}</h5>
{/if}
<div class="actions">
  <a href={`/events/${event._id}/edit`}>edit</a>
  <a href={`/events/${event._id}/delete`}>delete</a>
</div>

<div class="images">
  {#each event.files.filter(f => f.mimetype.match(/^image\//)) as file, index}
    <!-- the trick below (on:click|preventDefault={()=>{}}) is just so that a[href] does not navigate -->
    <a
      href={`#modal-img-${index}`}
      on:click|preventDefault={() => {}}
      class="modal-trigger">
      <img src={'/' + file.path} alt={file.name} class="thumbnail" />
    </a>
    <div class="modal" id={`modal-img-${index}`}>
      <div class="modal-content">
        <img src={'/' + file.path} alt={file.name} />
      </div>
    </div>
  {/each}
</div>

<div class="content">
  {@html event.body}
</div>

<h2>Buy now</h2>
<div class="row">
  {#each event.sections as section}
    <div class="col">
      <button class="btn" on:click={() => showSection(section)}>
        {section.name}
      </button>
    </div>
  {:else}
    <p>Tickets are not on sale yet.</p>
  {/each}
</div>
<hr />
{#if section}
  <Section {section} {event} />
{/if}
