<script>
  export let event = {
    title: "",
    title_prefix: "",
    title_suffix: "",
    sections: []
  };

  export let destination = null; // where to navigate to after form is submitted
  let showPreview = false;

  import * as sapper from "@sapper/app";
  import { slide } from "svelte/transition";
  import FileUpload from "../../components/file-upload.svelte";
  import { onMount } from "svelte";

  /*
   * onMount callbacks are triggered only on the client. We use it
   * to add client-side-only or non-Svelte components.
   */
  onMount(async () => {
    const editorDiv = document.getElementById("editor");
    const module = await import("quill");
    const Quill = module.default;
    /*
     * Using this instead of <div>{@html event.body}</div> on purpose.
     * The above breaks when event.body gets updated (two-way binding).
     * Above triggers on every keystroke, while below triggers only once (on mount).
     */
    if (event.body) editorDiv.innerHTML = event.body;
    const editor = new Quill(editorDiv, { theme: "snow" });
    // Quill does not provide a way to simply get the editor HTML
    Quill.prototype.getHTML = function() {
      return this.container.querySelector(".ql-editor").innerHTML;
    };
    // On every text-change, update event.body. Not sure if that's efficient.
    editor.on("text-change", (delta, oldDelta, source) => {
      event.body = editor.getHTML();
    });
  });

  function handleSubmit(e) {
    const url = event._id ? `/events/${event._id}.json` : "/events.json";
    const method = event._id ? "PATCH" : "POST";
    fetch(url, {
      method,
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(event)
    })
      .then(response => response.json())
      .then(data => {
        if (data.insertedId) {
          // if this is an insert, then navigate to /events/${data.insertedId}
          destination = `/events/${data.insertedId}`;
        }
        sapper.goto(destination);
      });
    return false;
  }

  function handleCancel() {
    sapper.goto(destination);
  }

  if (!destination) {
    if (event._id) {
      // if not destination was provided, but event._id is non-empty
      destination = `/events/${event._id}`;
    } else {
      destination = "/events";
    }
  }

  const sectionDefault = {
    name: "",
    description: ""
  };
  let section = Object.assign({}, sectionDefault);
  $: if (!section.seatmap) {
    section.seatmap = { rows: [] };
  }
  let currentSectionIndex = -1;
  function saveSection() {
    if (currentSectionIndex >= 0) {
      event.sections[currentSectionIndex] = section;
    } else {
      event.sections = event.sections.concat(section);
    }
    section = Object.assign({}, sectionDefault);
  }
  function editSection(s, index) {
    section = Object.assign({}, s);
    currentSectionIndex = index;
  }
  function cancelSectionEdit() {
    section = Object.assign({}, sectionDefault);
    currentSectionIndex = -1;
  }
  function deleteSection(s, index) {
    event.sections.splice(index, 1);
    event.sections = event.sections;
    section = Object.assign({}, sectionDefault);
    currentSectionIndex = -1;
  }

  let rowspec = "";
  function addRows() {
    const rows = [];
    rowspec.split(",").forEach(range => {
      const [start, end] = range.split("-");
      if (start) {
        if (end) {
          const istart = start.charCodeAt(0);
          const iend = end.charCodeAt(0);
          if (iend >= istart) {
            for (let i = istart; i <= iend; i++) {
              rows.push({ label: String.fromCharCode(i), seats: [] });
            }
          }
        } else {
          rows.push({ label: start, seats: [] });
        }
      }
    });
    section.seatmap.rows = section.seatmap.rows.concat(...rows);
    rowspec = "";
  }
  function addSeats(e, row) {
    const seats = [];
    const seatspec = e.target.value;
    seatspec.split(",").forEach(range => {
      const [start, end] = range.split("-");
      if (start) {
        const istart = parseInt(start);
        if (end) {
          const iend = parseInt(end);
          if (iend >= istart) {
            for (let i = istart; i <= iend; i++) {
              seats.push({ label: i.toString() });
            }
          }
        } else {
          seats.push({ label: start });
        }
      }
    });
    row.seats = row.seats.concat(...seats);
    section = section;
  }
</script>

<main>
  <h2>Add event</h2>
  <form on:submit|preventDefault={handleSubmit}>
    <input placeholder="event title prefix" bind:value={event.title_prefix} />
    <input placeholder="event title" bind:value={event.title} />
    <input placeholder="event title suffix" bind:value={event.title_suffix} />
    <br />
    <div class="file-field input-field" />
    <label>
      Files
      <FileUpload
        name="images"
        accept="image/png, image/jpeg"
        bind:files={event.files}
        context={Date.now()} />
    </label>
    <br />
    <div id="editor" />
    <label>
      <input type="checkbox" bind:checked={showPreview} />
      <span>show preview</span>
    </label>
    {#if showPreview}
      <div transition:slide={{ duration: 1000 }} id="preview">
        {@html event.body}
      </div>
    {/if}
    <br />
    <label>Sections:</label>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Capacity</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {#each event.sections as section, index}
          <tr>
            <td>{section.name}</td>
            <td>{section.price || '-'}</td>
            <td>{section.capacity || '-'}</td>
            <td>{section.description || '-'}</td>
            <td>
              <button
                class="btn-floating btn-small"
                on:click|preventDefault={e => editSection(section, index)}>
                <i class="material-icons">edit</i>
              </button>
              <button
                class="btn-floating btn-small"
                on:click|preventDefault={e => deleteSection(section, index)}>
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
    <form class="section sections" on:submit|preventDefault={saveSection}>
      <label>
        Name:
        <input
          placeholder="section name"
          bind:value={section.name}
          required
          class="validate" />
      </label>
      <label>
        Description:
        <input
          bind:value={section.description}
          placeholder="section description" />
      </label>
      <label>
        Price: $
        <input
          bind:value={section.price}
          placeholder="section price"
          step="0.01"
          class="validate"
          type="number" />
      </label>
      <label>
        Capacity:
        <input
          bind:value={section.capacity}
          placeholder="section headcount capacity"
          type="number"
          step="1"
          class="validate"
          pattern="\d*" />
      </label>
      <div>
        <div class="input-field inline">
          Add rows:
          <input
            placeholder="A-C,G-J,L"
            bind:value={rowspec}
            on:blur={e => addRows(section)} />
        </div>
        <ul>
          {#each section.seatmap.rows as row}
            <li>
              <input
                placeholder="1-10,15,20-30"
                on:blur={e => addSeats(e, row)} />
              {row.label}: [{row.seats.map(s => s.label).join(',')}]
            </li>
          {/each}
        </ul>
      </div>
      <button type="submit" class="btn-floating btn-small">
        <i class="material-icons right">
          {currentSectionIndex == -1 ? 'add' : 'update'}
        </i>
      </button>
      <button
        type="reset"
        on:click|preventDefault={cancelSectionEdit}
        class="btn-floating btn-small">
        <i class="material-icons right">cancel</i>
      </button>
    </form>
    <div class="section">
      <button type="submit" class="btn">
        Submit
        <i class="material-icons right">send</i>
      </button>
      <button type="reset" on:click|preventDefault={handleCancel} class="btn">
        Cancel
        <i class="material-icons right">cancel</i>
      </button>
    </div>
  </form>
</main>
