<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`events.json`)
      .then(r => r.json())
      .then(events => {
        return { events };
      });
  }
</script>

<script>
  export let events;
</script>

<svelte:head>
  <title>Events</title>
</svelte:head>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Files</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {#each events as event}
      <!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
      <tr>
        <td>
          <a rel="prefetch" href="events/{event._id}">{event.title}</a>
        </td>
        <td>{event.files.length}</td>
        <td>
          <a href="events/{event._id}/edit" class="btn-floating btn-small">
            <i class="material-icons">edit</i>
          </a>
          <a href="events/{event._id}/delete" class="btn-floating btn-small">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    {/each}
  </tbody>
</table>
<a href="events/add" class="btn-floating">
  <i class="material-icons">add</i>
</a>
