<script>
  import { onMount } from "svelte";
  import cart from "./cart";

  export let section;
  export let event;
  let quantity = 1;
  function addToCart() {
    cart.addUnassignedTicket(event._id, section, quantity);
      M.toast({html: `Added ${quantity} to cart`})
  }

  function clickSeat(seat, row) {
    const label = `${row.label}-${seat.label}`;
    if (seat.status == "incart") {
      seat.status = null;
      cart.removeSeat(event._id, section, row, seat, label);
      M.toast({html: `Removed from cart: ${seat.label}`})
    } else if (!seat.status) {
      seat.status = "incart";
      cart.addAssignedTicket(event._id, section, row, seat, label);
      M.toast({html: `Added to cart: ${seat.label}`})
    }
    section.seatmap = section.seatmap;
  }

  function markIncart() {
    if (!section.seatmap || !section.seatmap.rows) return; // skip if current section has no seatmap or rows
    // find every seat in the section and mark it as "incart" if it is in cart
    if (
      $cart.items.length && // there's something in the cart
      $cart.items.find(
        i => i.section == section.name && i.event == event._id
      ) // and it matches current event and section
    ) {
      $cart.items.forEach(i => {
        if (i.event != event._id) return; // match event
        if (i.section != section.name) return; // match section
        const row = section.seatmap.rows.find(r => r.label == i.row); // find matching row
        if (row) {
          const seat = row.seats.find(s => s.label == i.seat); // find matching seat
          seat.status = "incart";
        }
      });
      section.seatmap = section.seatmap;
    }
  }

  onMount(() => markIncart());
</script>

<style>
  .seatmap {
    overflow-x: auto;
    overflow-y: auto;
  }

  .seat-row {
    white-space: nowrap;
    text-align: center;
  }

  .seat {
    border: solid black 1px;
    border-radius: 50%;
    margin: 1px;
    display: inline-block;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 80%;
  }

  .seat.reverse {
    color: white;
    background-color: black;
  }

  .seat.incart {
    background-color: yellow;
  }
</style>

<div>
  <h3>{section.name}</h3>
  <p>{section.description}</p>
  <p>Price: ${section.price || '?'}</p>
  {#if !section.seatmap || !section.seatmap.rows || !section.seatmap.rows.length}
    <label>
      Number of tickets:
      <input
        type="number"
        patter="\d*"
        step="1"
        placeholder="headcount"
        min="1"
        bind:value={quantity} />
    </label>
    <button class="btn" on:click={addToCart} disabled={!section.price}>
      Add to cart
    </button>
  {:else}
    <h3>Seatmap</h3>
      <div class="seatmap">
        {#each section.seatmap.rows as row (row.label)}
          <div class="seat-row">
            <span class="seat reverse">{row.label}</span>
            {#each row.seats as seat (`${row.label}-${seat.label}`)}
              <span
                class="seat {seat.status || ''}"
                on:click={e => clickSeat(seat, row)}>
                {seat.label}
              </span>
            {/each}
            <span class="seat reverse">{row.label}</span>
          </div>
        {/each}
      </div>
  {/if}
</div>
