<script>
  // route endpoint where to POST the files
  export let name; // required prop
  export let accept; // required prop
  // model for parent to get info about files uploaded
  export let files = [];
  // optional context id you can attach to the upload
  export let context = Date.now();
  // url that the upload file paths are relative to
  export let uploadUrl = "/uploads";
  // if set to true, it will delete the uploadDir create for this upload at component unmount
  export let deleteOnUnmount = false;
  let uploadDir = uploadUrl + "/" + context;

  import { onMount } from "svelte";
  import { moveInArray } from "../lib";

  // runs on client-side only
  onMount(() => {
    // console.log("onMount:mount")
    // callback to delete uploadDir on unmount
    return () => {
      // console.log("onMount:unmount");
      // cleanup the upload context dir
      if (deleteOnUnmount) {
        fetch(uploadDir, { method: "DELETE" });
      }
    };
  });

  async function handleChange(e) {
    if (e.target.name && e.target.files && e.target.files.length) {
      const response = await upload(e.target.name, e.target.files);
      const result = await response.json();
      files = files.concat(result.files);
    }
  }

  async function upload(name, files) {
    // create new  FormData and append files to it
    const form = new FormData();
    for (let file of files) {
      form.append(name, file);
    }
    form.append("context", context);
    // POST FormData to uploadDir
    return await fetch(uploadDir, {
      method: "POST",
      body: form
      // do NOT set 'Content-Type' header
      // headers: {},
    });
  }

  async function remove(path) {
    const url = "/" + path;
    // DELETE file
    await fetch(url, {
      method: "DELETE"
    });
    // update files by filtering out the matching file.path
    files = files.filter(f => f.path !== path);
  }
</script>

<input
  type="file"
  {name}
  {accept}
  multiple
  on:change={handleChange}
  class="btn" />
<slot>
  {#if files.length > 0}
    <small>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {#each files as file, index}
            <tr>
              <td>
                <a href={'/' + file.path} target="_blank">
                  {file.originalname}
                </a>
              </td>
              <td>{file.size}</td>
              <td>{file.mimetype}</td>
              <td>
                <button
                  class="btn-floating btn-small"
                  on:click|preventDefault={e => (files = moveInArray(files, index, -1))}>
                  <i class="material-icons">keyboard_arrow_up</i>
                </button>
                <button
                  class="btn-floating btn-small"
                  on:click|preventDefault={e => (files = moveInArray(files, index, 1))}>
                  <i class="material-icons">keyboard_arrow_down</i>
                </button>
                <button
                  on:click|preventDefault={() => remove(file.path)}
                  class="btn-floating btn-small">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    </small>
  {:else}
    <p>
      <small>
        Select files from your device and upload, after which the uploaded files
        will be listed below. You can also drag files and drop them here.
      </small>
    </p>
  {/if}
</slot>
