<script>
  export let segment;
  import cart from "../routes/events/cart";
</script>

<style>
  /* "new" badge-like styling for cart quantity. */
  span.badge {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    min-width: 0px;
  }
</style>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li class:active={segment === undefined}>
          <a href=".">Home</a>
        </li>
        <li class:active={segment === 'about'}>
          <a href="about">About</a>
        </li>
        <li class:active={segment === 'file-upload-example'}>
          <a href="file-upload-example">File upload</a>
        </li>

        <!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
        <li rel="prefetch" class:active={segment === 'events'}>
          <a href="events">Events</a>
        </li>

        <li class:active={segment === 'cart'}>
          <a href="cart">
            Cart
            <span class="badge">{$cart.quantity}</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
